<div id="header-bar">
    <a routerLink="/">
        <img id="gg-logo" src="assets/images/gg_logo.png" />
        <img id="bingo-logo" src="assets/images/bingo_logo.png" />
    </a>
    <span id="config-name" class="hidden"></span>
    <span id="header-menu" (click)="onToggleNav()">
        <img id="btn-menu" src="assets/images/icons8-menu-vertical-50.png" />
    </span>
    <div id="header-menu-popup" [ngClass]="{'hidden': !isShowNavDropdown}">
        <ul class="ul-nostyle">
            <li id="btn-menu-back" (click)="onToggleNav()"><img src="assets/images/icons8-menu-vertical-50.png" />
            <li id="btn-config"><a routerLink="/config" (click)="onToggleNav()"><img src="assets/images/icons8-settings-50.svg" />Config</a>
            <li id="btn-saved"><a routerLink="/saved-boards" (click)="onToggleNav()"><img src="assets/images/icons8-playlist-50.png" />Saved</a>
            <li id="btn-share"><a routerLink="/share" (click)="onToggleNav()"><img src="assets/images/icons8-share-30.svg" />Share</a>
            <li id="btn-reset" class="hidden"><img src="assets/images/icons8-reset-50.png" />Reset
            <li id="btn-about"><a routerLink="/about" (click)="onToggleNav()"><img src="assets/images/icons8-info-50.svg" />About</a>
        </ul>
    </div>
</div>