<div id="header-bar">
    <a routerLink="/">
        <img id="gg-logo" src="assets/images/gg_logo.png" />
        <img id="bingo-logo" src="assets/images/bingo_logo.png" />
    </a>
    <span id="config-name" class="hidden"></span>
    <span id="header-menu">
        <img id="btn-menu" src="assets/images/icons8-menu-vertical-50.png" />
    </span>
    <div id="header-menu-popup">
        <ul class="ul-nostyle">
            <li id="btn-menu-back"><img src="assets/images/icons8-menu-vertical-50.png" />
            <li id="btn-config" class="hidden"><img src="assets/images/icons8-settings-50.svg" />Config
            <li id="btn-saved" class="hidden"><img src="assets/images/icons8-playlist-50.png" />Saved
            <li id="btn-share" class="hidden"><img src="assets/images/icons8-share-30.svg" />Share
            <li id="btn-reset" class="hidden"><img src="assets/images/icons8-reset-50.png" />Reset
            <li id="btn-about" class="hidden"><img src="assets/images/icons8-info-50.svg" />About
        </ul>
    </div>
</div>