<div id="config-wrapper" class="content-body">
    <div id="config-area">
        <table id="config-tiles" class="edit-list">
            <thead>
                <tr>
                    <th colspan="100%">Configure Gameboard</th>
                </tr>
                <tr>
                    <th colspan="100%"><input name="name" [(ngModel)]="gameboardService.currentBoard.name" (ngModelChange)="doUpdate()" /></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tile of gameboardService.currentBoard.tiles; index as i">
                    <td class="controls" title="Delete"><div class="icon icon-delete remove clickable" (click)="doRemoveTile(i)" (ngModelChange)="doUpdate()"></div></td>
                    <td class="free">
                        <input [id]="'free'+i" name="free" type="checkbox" class="icon icon-checkbox icon-grid" [(ngModel)]="tile.free" (ngModelChange)="doUpdate()" />
                        <label [for]="'free'+i" title="Free or Surrounding Tile" class="clickable"></label>
                    </td>
                    <td class="title"><input name="title" [(ngModel)]="tile.title" (ngModelChange)="doUpdate()"></td>
                </tr>
                <tr>
                    <td class="title" colspan="100%"><input name="title" [(ngModel)]="newTileName" (blur)="doCreate()"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="100%"><div class="hr"></div></td></tr>
                <tr>
                    <td colspan="100%"><a routerLink="/"><button id="btn-config-back" class="button clickable">Back</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>