<div id="config-wrapper" class="content-body">
    <div id="config-area">
        <table id="config-tiles" class="edit-list">
            <thead>
                <tr>
                    <th colspan="100%">Configure Gameboard</th>
                </tr>
                <tr>
                    <th colspan="100%"><input name="name" [(ngModel)]="board.name" /></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tile of board.tiles; index as i">
                    <td class="controls"><img class="icon icon-delete remove" (click)="doRemoveTile(i)" /></td>
                    <td class="free"><input [id]="'free'+i" name="free" type="checkbox" class="icon icon-checkbox icon-grid" [(ngModel)]="tile.free" /><label [for]="'free'+i"></label></td>
                    <td class="title"><input name="title" [(ngModel)]="tile.title"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="100%"><div class="hr"></div></td></tr>
                <tr>
                    <td colspan="100%"><a routerLink="/"><button id="btn-config-back" class="button">Back</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>