<div id="saved-boards-wrapper" class="content-body">
    <div id="saved-boards-area">
        <table id="saved-boards" class="edit-list">
            <thead>
                <tr>
                    <th colspan="100%">Saved Gameboards</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let board of gameboardService.boards; index as i">
                    <td class="clickable" title="Delete"><img class="icon icon-delete remove" (click)="doRemoveGameboard(i)" (ngModelChange)="doUpdate(i)" /></td>
                    <td class="hidden"><input [id]="'lock'+i" name="lock" type="checkbox" class="icon icon-checkbox icon-lock" /><label [for]="'lock'+i"></label></td>
                    <td class="hidden">
                        <input [id]="'default'+i" name="default" type="radio" class="icon icon-checkbox icon-dot" [(ngModel)]="board.default" (ngModelChange)="doUpdate(i)" />
                        <label [for]="'default'+i"></label>
                    </td>
                    <td class="clickable" title="Load Board"><img class="icon icon-load load" (click)="setCurrentGameboard(i)" (ngModelChange)="doUpdate(i)" /></td>
                    <td class="name"><input name="name" [(ngModel)]="board.name" (ngModelChange)="doUpdate(i)" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="100%"><div class="hr"></div></td></tr>
                <tr>
                    <td colspan="100%"><a routerLink="/"><button id="btn-back" class="button click">Back</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>